* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 500px) {
  body { color: #F79420; }
}


body {
  font-family: "Raleway", sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-logo {
  margin-top: 20px;
}

.title-super {
  font-size: 60px;
}

h1 {
  color: red;
}